/* styles for main page(index.html) */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    letter-spacing: .15em;

}

a {
    text-decoration: none;
    color: black;
}

.stylish-topbar {
    background-color: #BF8654;
    padding: 10px;
    margin: 0;
    border: 0;
}

.header {
    position: relative;
}

.title-container {
  display: flex;         /* Activates Flexbox layout */
  align-items: center;   /* Vertically aligns image and text centers */
  gap: 12px;             /* Creates space between image and title */
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.title {
    font-size: 45px;
    font-family: "Abril Fatface", serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0;
}

.hotbar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    display: flex;
    gap: 25px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    flex: 1;                        /* Forces all cards to take up equal width */
    min-width: 200px;               /* Prevents cards from getting too squished */
    margin: 30px;
    justify-content: center; /* aligns text horizontally */
    align-items: center; /* aligns text vertically */
}

.recipe-title {
    position: absolute;
    padding: 20px 30px;
    background-color: rgba(191, 134, 84, .85);
    font-size: 30px;
}

.recipe-img {
    width: 600px;
    height: auto;
    display: block;
}




